<p>Dashboard / My Leaves</p>

<button>Apply for Leave</button>

<table>
    <tr>
        <th>Application Date</th>
        <th>From Date</th>
        <th>To Date</th>
        <th>Leave Type</th>
        <th>Status</th>
        <th>Reason</th>
        <th>Actions</th>
    </tr>
    <tr>
        <td>3/7/2024</td>
        <td>7/7/2024</td>
        <td>15/7/2024</td>
        <td>Medical Leave</td>
        <td>Approved</td>
        <td>Sick</td>
        <td class="actions">
            <button class="edit"><i class="fa-solid fa-pen-to-square"></i></button>
            <button class="delete"><i class="fa-solid fa-trash"></i></button>
        </td>
    </tr>
    <tr>
        <td>7/7/2024</td>
        <td>9/7/2024</td>
        <td>15/7/2024</td>
        <td>Medical Leave</td>
        <td>Declined</td>
        <td>Sick</td>
        <td class="actions">
            <button class="edit"><i class="fa-solid fa-pen-to-square"></i></button>
            <button class="delete"><i class="fa-solid fa-trash"></i></button>
        </td>
    </tr>
    <tr>
        <td>3/7/2024</td>
        <td>7/7/2024</td>
        <td>15/7/2024</td>
        <td>Casual Leave</td>
        <td>Declined</td>
        <td>Personal reasons</td>
        <td class="actions">
            <button class="edit"><i class="fa-solid fa-pen-to-square"></i></button>
            <button class="delete"><i class="fa-solid fa-trash"></i></button>
        </td>
    </tr>
</table>
