<p>Dashboard / My Leaves</p>

<button (click)="toggleForm()">Apply for Leave</button>

<div class="leave-application-overlay" *ngIf="showForm">
  <div class="leave-application-form"><br><br>
    <button class="close-button" (click)="toggleForm()">✕</button>
    <h2>Leave Application Form</h2>
    <form [formGroup]="leaveForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="fromDate">From Date</label>
        <input type="date" id="fromDate" formControlName="fromDate" (change)="calculateDays()" />
      </div>

      <div class="form-group">
        <label for="toDate">To Date</label>
        <input type="date" id="toDate" formControlName="toDate" (change)="calculateDays()" />
      </div>

      <div class="form-group">
        <label for="noOfDays">Number of Days</label>
        <input type="text" id="noOfDays" formControlName="noOfDays" readonly />
      </div>

      <div class="form-group">
        <label for="leaveType">Leave Type</label>
        <select id="leaveType" formControlName="leaveType">
          <option *ngFor="let type of leaveTypes" [value]="type">{{ type }}</option>
        </select>
      </div>

      <div class="form-group">
        <label for="reason">Reason</label>
        <textarea id="reason" formControlName="reason" placeholder="Provide a reason for your leave..."></textarea>
      </div>

      <button type="submit" class="submit-button">Submit Leave Application</button>
    </form>
  </div>
</div>

<table>
    <tr>
        <th>Application Date</th>
        <th>From Date</th>
        <th>To Date</th>
        <th>Leave Type</th>
        <th>Status</th>
        <th>Reason</th>
        <th>Actions</th>
    </tr>
    <tr>
        <td>3/7/2024</td>
        <td>7/7/2024</td>
        <td>15/7/2024</td>
        <td>Medical Leave</td>
        <td>Approved</td>
        <td>Sick</td>
        <td class="actions">
            <button class="edit"><i class="fa-solid fa-pen-to-square"></i></button>
            <button class="delete"><i class="fa-solid fa-trash"></i></button>
        </td>
    </tr>
    <tr>
        <td>7/7/2024</td>
        <td>9/7/2024</td>
        <td>15/7/2024</td>
        <td>Medical Leave</td>
        <td>Declined</td>
        <td>Sick</td>
        <td class="actions">
            <button class="edit"><i class="fa-solid fa-pen-to-square"></i></button>
            <button class="delete"><i class="fa-solid fa-trash"></i></button>
        </td>
    </tr>
    <tr>
        <td>3/7/2024</td>
        <td>7/7/2024</td>
        <td>15/7/2024</td>
        <td>Casual Leave</td>
        <td>Declined</td>
        <td>Personal reasons</td>
        <td class="actions">
            <button class="edit"><i class="fa-solid fa-pen-to-square"></i></button>
            <button class="delete"><i class="fa-solid fa-trash"></i></button>
        </td>
    </tr>
</table>
