<div class="sidebar">
    <p class="user-profile">
        <i *ngIf="!userImage" class="fa-solid fa-user"></i>
        <img *ngIf="userImage" [src]="userImage" alt="User Profile" class="user-image" />
        {{ userName }}
    </p>

    <hr>
    <hr>
    <ul class="sidenav">
        <br>
        <li><i class="fa-solid fa-gauge"></i><a (click)="onSelectSection('dashboard')">Dashboard</a></li>
        <br>
        <hr>

        <li><i class="fa-solid fa-users"></i><a (click)="onSelectSection('employees')">Employees</a></li>
        <br>
        <hr>
        <li><i class="fa-solid fa-sheet-plastic"></i><a (click)="onSelectSection('attendance')">Attendance</a></li>
        <br>
        <hr>
        <li><i class="fa-solid fa-ticket"></i><a (click)="onSelectSection('leaves')">Leave Management</a></li>
        <br>
        <hr>
        <li><i class="fa-solid fa-medal"></i><a (click)="onSelectSection('leaders')">Leaders</a></li>
        <br>
        <hr>
    </ul>
    <p><i class="fa-solid fa-right-from-bracket"></i><a href="/landing"><span>Log Out</span></a></p>
</div>