<main>
    <h1>Welcome Admin</h1><br>
<p>Dashboard</p>

<div class="statistics">
    <div class="statCard">
        <div class="details">
            <i class="fa-solid fa-rocket"></i>
            <p>54</p>
        </div>
        <p class="statTitle">Projects</p>
    </div>
    <div class="statCard">
        <div class="details">
            <i class="fa-solid fa-users"></i>
            <p>90</p>
        </div>
        <p class="statTitle">Employees</p>
    </div>
    <div class="statCard">
        <div class="details">
            <i class="fa-solid fa-sack-dollar"></i>
            <p>$1200</p>
        </div>
        <p class="statTitle"> Revenue Collected</p>
    </div>
</div>
</main>