<p>Dashboard / Projects</p><br>

    <button class="addProjectBtn" (click)="toggleFormVisibility()"><i class="fa-solid fa-square-plus"></i>Add Project</button>

    <div *ngIf="isFormVisible" class="modal-overlay" (click)="toggleFormVisibility()">
        <div class="project-form-container" (click)="$event.stopPropagation()">
          <form [formGroup]="projectForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
              <label for="title">Project Title</label>
              <button class="close-button" (click)="toggleFormVisibility()">X</button>
              <input id="title" formControlName="title" type="text" placeholder="Enter project title" />
            </div>
      
            <div class="form-group">
              <label for="description">Description</label>
              <textarea id="description" formControlName="description" placeholder="Enter project description"></textarea>
            </div>
      
            <div class="form-group">
              <label for="deadline">Deadline</label>
              <input id="deadline" formControlName="deadline" type="date" />
            </div>
      
            <div class="form-group">
              <label for="assignedTo">Assign To</label>
              <select id="assignedTo" formControlName="assignedTo">
                <option *ngFor="let person of assignablePeople" [value]="person">{{ person }}</option>
              </select>
            </div>
      
            <button type="submit" [disabled]="!projectForm.valid" class="submit-button">Add Project</button>
          </form>
        </div>
      </div>

<div class="filter">
    <input type="text" value="Employee Name">
    <input type="text" value="Project Name">
    <input type="text" value="Select Designation">
    <button>Search</button>
</div>
<div class="projectsContainer">
    <div class="projectCard">
        <h1>E-Commerce Project</h1>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.
            Hic ea provident laborum, incidunt aut accusamus qui fugit ratione,
            quos neque dicta perferendis tempore quam laboriosam rerum nemo placeat excepturi.
            Animi.
        </p>
        <p>Deadline : 3rd July 2024</p>
        <p>Status : Completed</p>
        <i id="status-completed" class="fa-regular fa-circle-check"></i>
    </div>
    <div class="projectCard">
        <h1>Notebook Project</h1>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.
            Hic ea provident laborum, incidunt aut accusamus qui fugit ratione,
            quos neque dicta perferendis tempore quam laboriosam rerum nemo placeat excepturi.
            Animi.
        </p>
        <p>Deadline : 3rd November 2024</p>
        <p>Status : Pending</p>
        <i id="status-pending" class="fa-solid fa-spinner"></i>
    </div>
    <div class="projectCard">
        <h1>E-Commerce Project</h1>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.
            Hic ea provident laborum, incidunt aut accusamus qui fugit ratione,
            quos neque dicta perferendis tempore quam laboriosam rerum nemo placeat excepturi.
            Animi.
        </p>
        <p>Deadline : 23rd November 2024</p>
        <p>Status : Pending</p>
        <i id="status-pending" class="fa-solid fa-spinner"></i>
    </div>
</div>