<div class="sidebar">
    <p class="user-profile">
        <i *ngIf="!userImage" class="fa-solid fa-user"></i>
        <img *ngIf="userImage" [src]="userImage" alt="User Profile" class="user-image" />
        {{ userName }}
      </p>
      
    <hr><hr>
    <ul>
        <br>
        <li><a (click)="onSelectSection('dashboard')">Dashboard</a></li>
        <br><hr>
        <li><a (click)="onSelectSection('attendance')">Attendance</a></li>
        <br><hr>
        <li><a (click)="onSelectSection('projects')">My Projects</a></li>
        <br><hr>
        <li><a (click)="onSelectSection('leaves')">My Leaves</a></li>
        <br><hr>
    </ul>
    <p><i class="fa-solid fa-right-from-bracket"></i><a href="/landing"><span>Log Out</span></a></p>
</div>
  

