<p>Dashboard / Employees</p><br>
<button class="addEmployeeBtn" (click)="toggleForm()">
  <i class="fa-solid fa-square-plus"></i> Add Employee
</button>

<div *ngIf="showForm" class="form-overlay">
  <div class="form-container">
    <div class="form-header">Add New Employee
      <button class="close-button" (click)="toggleForm()">X</button>
    </div>
    <form id="add-employee-form">
      <div class="form-group">
        <label for="firstName">First Name</label>
        <input type="text" id="firstName" name="firstName" required>
      </div>
      <div class="form-group">
        <label for="lastName">Last Name</label>
        <input type="text" id="lastName" name="lastName" required>
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" id="email" name="email" required>
      </div>
      <div class="form-group">
        <label for="phoneNumber">Phone Number</label>
        <input type="tel" id="phoneNumber" name="phoneNumber" required>
      </div>
      <div class="form-group">
        <label for="dateOfJoin">Date of Join</label>
        <input type="date" id="dateOfJoin" name="dateOfJoin" required>
      </div>
      <div class="form-group">
        <label for="position">Position</label>
        <input type="text" id="position" name="position" placeholder="e.g., Software Engineer" required>
      </div>
      <button type="submit" class="form-button">Add Employee</button>
    </form>
  </div>
</div>

<div class="filter">
  <input type="text" value="Employee Name">
  <input type="text" value="Employee ID">
  <input type="text" value="Select Designation">
  <button>Search</button>
</div>

<div class="employeesContainer">
  <div class="employeeCard" *ngFor="let employee of employees">
    <div class="details">
      <img [src]="employee.image" alt="employeeImage">
      <p>{{ employee.position }}</p>
    </div>
    <div class="moreDetails">
      <button (click)="toggleOptions(employee.id)">
        <i class="fa-solid fa-ellipsis-vertical"></i>
      </button>
      <div *ngIf="isOptionsVisible(employee.id)" class="options-dropdown">
        <ul>
          <li (click)="viewProfile(employee.id)">View Profile</li>
          <li (click)="assignProject(employee.id)">Assign Project</li>
          <li (click)="viewProjects(employee.id)">View Projects</li>
        </ul>
      </div>
    </div>
  </div>
</div>
