<h1>Welcome Username!</h1><br>
<p>Dashboard</p><br>

<div class="clock">
    <p>15/10/2024</p>
<button><i class="fa-solid fa-clock"></i>Check In</button>
<button><i class="fa-solid fa-clock"></i>Break</button>
<button><i class="fa-solid fa-clock"></i>Check out</button>
</div><br>

<div class="statistics">
    <div class="statCard">
        <i class="fa-solid fa-sheet-plastic"></i>
        <div class="details">
            <p>Total Attendance</p><br>
            <p id="figure">15</p><br><br>
            <p>This month's attendance</p>
        </div>
    </div>
    <div class="statCard">
        <i class="fa-solid fa-umbrella-beach"></i>
        <div class="details">
            <p>Holiday this year</p><br>
            <p id="figure">12</p><br><br>
            <p>3 Holidays this month</p>
        </div>
    </div>
    <div class="statCard">
        <i class="fa-solid fa-ticket"></i>
        <div class="details">
            <p>Leave Balance </p><br>
            <p id="figure">25</p><br><br>
            <p>Apply for leave?</p>
        </div>
    </div>
</div>

