<main>
    <app-navbar1></app-navbar1>
   <div class="container">
    <app-sidebar (selectSection)="onSectionSelected($event)"></app-sidebar>
    <div class="content-container">
        <app-dashboard *ngIf="selectedSection === 'dashboard'"></app-dashboard>
        <app-attendance *ngIf="selectedSection === 'attendance'"></app-attendance>
        <app-my-projects *ngIf="selectedSection === 'projects'"></app-my-projects>
        <app-my-leaves *ngIf="selectedSection === 'leaves'"></app-my-leaves>
    </div>
   </div>
</main>
