<p>Dashboard / Leave Management</p><br>
<h1>Leave Request Statistics</h1>
<div class="leaveStats">
    <div class="statCard">
        <p>3</p>
        <p>Approved</p>
    </div>
    <div class="statCard">
        <p>2</p>
        <p>Declined</p>
    </div>
    <div class="statCard">
        <p>7</p>
        <p>Pending</p>
    </div>
</div>

<table>
    <tr>
        <th>Employee Name</th>
        <th>Leave Type</th>
        <th>From</th>
        <th>To</th>
        <th>No. of Days</th>
        <th>Reason</th>
        <th>Status</th>
    </tr>
    <tr *ngFor="let leave of leaves">
        <td>{{ leave.employeeName }}</td>
        <td>{{ leave.leaveType }}</td>
        <td>{{ leave.from | date: 'd MMM yyyy' }}</td>
        <td>{{ leave.to | date: 'd MMM yyyy' }}</td>
        <td>{{ leave.noOfDays }} Days</td>
        <td>{{ leave.reason }}</td>
        <td>
            <select [(ngModel)]="leave.status" [ngClass]="{'status-approved': leave.status === 'Approved', 'status-declined': leave.status === 'Declined', 'status-pending': leave.status === 'Pending'}">
                <option value="Approved">Approved</option>
                <option value="Declined">Declined</option>
                <option value="Pending">Pending</option>
            </select>
        </td>
    </tr>
</table>
