*{
    margin: 0;
    padding: 0;
}
main{
    overflow-x: hidden;
}
.container{
    display: flex;
    overflow-x: hidden;
}
.content-container{
    padding: 10px;
    width: 80%;
    height: 100vh;
}