<p>Dashboard / Employees/ View Projects</p><br>

<div class="filter">
    <input type="text" value="Employee Name">
    <input type="text" value="Project Name">
    <input type="text" value="Select Designation">
    <button>Search</button>
</div>
<div class="projectsContainer">
    <div class="projectCard">
        <h1>E-Commerce Project</h1>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.
            Hic ea provident laborum, incidunt aut accusamus qui fugit ratione,
            quos neque dicta perferendis tempore quam laboriosam rerum nemo placeat excepturi.
            Animi.
        </p>
        <p>Deadline : 3rd July 2024</p>
        <p>Status : Completed</p>
        <i id="status-completed" class="fa-regular fa-circle-check"></i>
    </div>
    <div class="projectCard">
        <h1>Notebook Project</h1>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.
            Hic ea provident laborum, incidunt aut accusamus qui fugit ratione,
            quos neque dicta perferendis tempore quam laboriosam rerum nemo placeat excepturi.
            Animi.
        </p>
        <p>Deadline : 3rd November 2024</p>
        <p>Status : Pending</p>
        <i id="status-pending" class="fa-solid fa-spinner"></i>
    </div>
    <div class="projectCard">
        <h1>E-Commerce Project</h1>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.
            Hic ea provident laborum, incidunt aut accusamus qui fugit ratione,
            quos neque dicta perferendis tempore quam laboriosam rerum nemo placeat excepturi.
            Animi.
        </p>
        <p>Deadline : 23rd November 2024</p>
        <p>Status : Pending</p>
        <i id="status-pending" class="fa-solid fa-spinner"></i>
    </div>
</div>
