<div class="profile-container">
    <div class="breadcrumb">Dashboard / Employees / Profile</div>
  
    
    <div class="profile-card">
    
      <div class="profile-left">
        <img src="assets/p1.jpg" alt="Profile Image" class="profile-image">
        <div class="profile-details">
          <p class="profile-name">John Doe</p>
          <p class="profile-role">Web Developer</p>
          <p>Employee ID: TF-001</p>
          <p>Date of Join: 7/7/12</p>
          <p>Location: Nairobi, Kenya</p>
          <button class="message-button">Message</button>
        </div>
      </div>
  
      
      <div class="profile-right">
        <p>Phone: 0123456789</p>
        <p>Email: john&#64;example.com</p>
        <p>Address: 123 Coffee St, Nairobi</p>
        <p>Gender: Male</p>
        <p>Age: 35</p>
        <p>Nationality: Kenyan</p>
        <button class="edit-button">Edit</button>
      </div>
    </div>
  

    <div class="info-card">
      <div class="info-header">
        <p class="section-title">Employment Details</p>
        <button class="edit-button">Edit</button>
      </div>
      <p>Department: Technology</p>
      <p>Position: Senior Web Developer</p>
      <p>Work Location: Nairobi Head Office</p>
      <p>Shift: Day</p>
      <p>Supervisor: Daniel Kitheka</p>
    </div>
  </div>
  
